results/*.json
.DS_Store
dist
node_modules
!results/turningPoints.json
!results/turningPointsGpt4o.json
!results/turningPointsPariah.json
!results/turningPointsPariahNano.json
*.txt

results/*.log

output_pariah_logs
descriptoin_drafting.md
descriptoin_drafting.pdf
masked_confidence_scoring_overview.md
*.jinja