results/*.json
.DS_Store
dist
node_modules
!results/turningPoints.json
!results/turningPointsGpt4o.json
!results/turningPointsPariah.json
!results/turningPointsPariahNano.json
*.txt

results/*.log

output_gpt_pariah_logs